<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票漲跌預測系統</title>
</head>
{% load static %}
<body background="{% static 'BG.jpg' %}">
    <center>
        <br>
        <h1 style="color: white; font-family:Microsoft JhengHei;">{{ content }} 不是可查詢的股票代碼</h1>
        <hr>
        <br>
        <h2 style="font-family:Microsoft JhengHei; color: lightseagreen;">請填正確的股票代碼</h2>
        <button type="submit" onclick = "history.back()">
            返回
        </button>
    </center>
</body>
</html>