<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>股票漲跌預測系統</title>
</head>

{% load static %}
<body background="{% static 'BG.jpg' %}">
    <center>
        <h1 style="color: white; font-family:Microsoft JhengHei;">請輸入股票代碼</h1>
        <h2>
            <form action="/search/" method="get">
                <input type="text" name="q">
                <button type="submit"><img src = "{% static 'search_button.png'%}" alt="no picture"></button>
            </form>
        </h2>
        <br>
        <hr>
        <br>
        <h3 style="font-family:Microsoft JhengHei; color:lightseagreen">可供查詢的股票為：</h3>
        <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">    
            {% for i in stock %}
            <h2>
                <span style="color:lightgreen;">{{ i }}</span>
            </h2>
            {% endfor %}
        </span>
    </center>
</body>

</html>