
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票漲跌預測系統</title>
</head>
{% load static %}
<body background="{% static 'BG.jpg' %}">
    <center>
        <br>
        <h1 style="color:white; font-family:Microsoft JhengHei;">你查詢的股票代碼為 {{ content }}</h1>
        <hr>
        <br>
        
        <h2 style="color:lightseagreen;">{{ content }} {{ stock_name }} </h2>
        {% if content == 1232 %}
        <img src = "{% static 'picture1.jpg' %}" alt = "no picture">
        {% else %}
        <img src = "{{ img_src }}" alt = "no picture">
        {%endif%}
        <br>
        <button type="submit" onclick = "history.back()">
            返回
        </button>

    </center>

    <!-- <script>
        // failed
        var a = 1;
        a++;
        document.write("<h1>" + a + "<h1>");
    </script> -->
</body>
</html>