get_form：

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>股票漲跌預測系統</title>
</head>
<body background="http://www.lanrentuku.com/savepic/img/allimg/1305/5-13050G30234.jpg">
    {% load static %}
    <center>
        <h1 style="font-family:Microsoft JhengHei;">請輸入股票代碼</h1>
        <h2 form action="/search/" method="get">
            <input type="text" name="q">
            <button type="submit"><img src = "{% static 'search_button.png'%}" alt="no picture"></button>
        </form>
        </h2>
        <br>
        <hr>
        <br>
        <h3 style="font-family:Microsoft JhengHei; color:MidnightBlue">可供查詢的股票為：</h3>
        <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">    
            {% for i in stock %}
            <p>
                <span style="color: brown;">{{ i }}</span>
            </p>
            {% endfor %}
        </span>
    </center>
</body>
</html>

index：

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票漲跌預測系統</title>
</head>
<body background="http://www.lanrentuku.com/savepic/img/allimg/1305/5-13050G30234.jpg">
    <center>
        <br>
        <h1 style="font-family:Microsoft JhengHei;">你查詢的股票代碼為 {{ content }}</h1>
        <hr>
        <br>
        <h2 style="color:MidnightBlue;">{{ content }} 台積電</h2>
        {% load static %}
        {% if content == 1232 %}
        <img src = "{% static 'picture1.jpg' %}" alt = "no picture">
        {% else %}
        <img src = "{% static 'picture2.jpg' %}" alt = "no picture">
        {%endif%}
    </center>
</body>
</html>

error：

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票漲跌預測系統</title>
</head>
<body background="http://www.lanrentuku.com/savepic/img/allimg/1305/5-13050G30234.jpg">
    <center>
        <br>
        <h1 style="font-family:Microsoft JhengHei;">{{ content }} 不是可查詢的股票代碼</h1>
        <hr>
        <br>
        <h2 style="font-family:Microsoft JhengHei;">請填正確的股票代碼</h2>
    </center>
</body>
</html>
